<!-- dados ejercicio1
  <div style="text-align:center">
  <br>
  <br>
  <br>
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>
  <hr>
  <button (click)="tirar()">Tirar</button>  
  <hr>
  <p>Resultado:{{resultado}}</p>
</div>
-->
<!--cronometro ejercicio2
  <div style="text-align:center">
  <h1>Prueba de la componente cronometro</h1>
  <app-cronometro [inicio]=15 (multiplo10)="actualizar($event)"></app-cronometro>
  <h2>Evento</h2>
  <h3>{{mensaje}}</h3>
</div> -->
<!--ejercicio3 sector numerico
  <div>
  <app-selectornumerico [minimo]="1" [maximo]="15" #selector1></app-selectornumerico>
  <br>
  <br>
  <button (click)="selector1.fijar(1)">Fijar en 1</button><br>
  <button (click)="selector1.fijar(5)">Fijar en 5</button><br>
  <button (click)="selector1.fijar(10)">Fijar en 10</button><br>
  <button (click)="selector1.fijar(15)">Fijar en 15</button>
</div>-->
<!--ejercicio4 sectornumerico
  <div>
  <app-selectornumerico [minimo]="1" [maximo]="15" #selector1></app-selectornumerico>
  <br>  
  <button (click)="fijarSelector1(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector1(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector1(10)">Fijar en 10</button>
  <hr>
  <app-selectornumerico [minimo]="1" [maximo]="10" #selector2></app-selectornumerico>    
  <br>
  <button (click)="fijarSelector2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(10)">Fijar en 10</button>  
</div>-->
<!--ejercicio5 tabla
  <div style="text-align:center">
  <app-listadoarticulos [datos]="articulos"></app-listadoarticulos>
</div>-->
<!--ejercicio6
  <div-- style="text-align:center">
  <app-dado  [valor]="6"></app-dado>
</div-->
<div *ngIf="articulos!=null; else espera">
  <table border="1">
    <tr>
      <td>Codigo</td><td>Descripcion</td><td>Precio</td>
    </tr>
    <tr *ngFor="let art articulos">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
    </tr>
  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>

